# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv/
venv/
EKF_Localization_Sim/

# =========================
# Outputs / generated data
# =========================
python/outputs/
cpp/outputs/
logs/
*.png
*.pdf
*.csv

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
